# OS Files
.DS_Store
Thumbs.db
*.swp

# IDEs/Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and Temps
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tmp/

# If you ever add node_modules
node_modules/
package-lock.json
yarn.lock
